@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Montserrat", sans-serif;
}

#root{
  overflow: hidden;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(0, -20px);
  }
  75% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.floating-shape {
  animation: float 6s ease-in-out infinite;
}

.shape1 {
  animation-duration: 6s;
}

.shape2 {
  animation-duration: 8s;
}

.shape3 {
  animation-duration: 10s;
}

.shape4 {
  animation-duration: 12s;
}

.shape5 {
  animation-duration: 14s;
}

